/*------------------------------------------------------------------
COLOR:	Name: Alizarin	 Code: #E74C3C
-------------------------------------------------------------------*/
.portfolio-in:before, .btn-dark:hover, .filter-style-2 .cbp-filter-item.cbp-filter-item-active, .cbp-l-filters-buttonCenter .cbp-filter-counter, .filter-style-2 .cbp-filter-item:hover, .testimonial .owl-controls .owl-dots div.active, .no-touch .cd-top:hover, .filter-style-3 .cbp-filter-item.cbp-filter-item-active:before, .filter-style-3 .cbp-filter-item:hover:before, .filter-style-4 .cbp-filter-item.cbp-filter-item-active:before, .filter-style-4 .cbp-filter-item:hover:before, .filter-style-5 .cbp-filter-item.cbp-filter-item-active, .filter-style-5 .cbp-filter-item:hover, .heading-block hr, .heading-block hr:after, .services .service-part li:hover i, .progress-bar, .our-team .social-icons a:hover, .accordion .panel-title a:hover, .pricing.style-2 .pricing-table.pre .cta-button, .post-content .date, footer .social-icons a:hover, .pricing.style-2 .pricing-table.pre .title, header nav li a:after, .contact-form button {
	background: #E74C3C !important;
}
a:hover, a:focus, .accordion .panel-title a.collapsed {
	color: #E74C3C;
}
.post-content .tag, .portfolio, .heading-block h5, .filter-style-3 .cbp-filter-item.cbp-filter-item-active, .filter-style-3 .cbp-filter-item:hover, .services .service-part li:hover h6, .services .service-part i, .text-color-primary, .our-team .social-icons a, .accordion .panel-default > .panel-heading .panel-title a.collapsed:before, .testimonial #testi-slide h6, .footer h6, header nav li.active a, header nav li a:hover {
	color: #E74C3C !important;
}
.portfolio .port-hover span, .services .service-part li:hover i, .our-team .social-icons a:hover {
	color: #fff !important;
}
.portfolio .port-hover, .our-team .team-hover {
	background: rgba(321,76,60,0.8);
}
.btn, .accordion .panel-default > .panel-heading a {
	background: #E74C3C;
}
.accordion .panel-title a.collapsed {
}
.accordion .panel-title a:hover {
	background: #E74C3C !important;
}
.btn-dark:hover, .testimonial .owl-controls .owl-dots div.active, .cd-top, a.big-border:hover, .services .service-part i, .progress, .our-team article {
	border-color: #E74C3C;
}
.cbp-l-filters-buttonCenter .cbp-filter-counter:before {
	border-top-color: #E74C3C;
}
#contact_form li .form-control:focus {
	border-bottom: 2px solid #E74C3C;
}