/*------------------------------------------------------------------

COLOR:	YELLOW	#ff9c00

-------------------------------------------------------------------*/
.btn, .testi .owl-dots .owl-dot.active, .btn-1:hover, footer .subscribe button, .work-process li .number, .ownmenu ul.dropdown li a:before, .progress-bars.style-1 .progress-bar-tooltip, .progress-bar, .heading hr, .services li article hr, .we-offer li hr{
	background:#ff9c00 !important;
}
.btn:hover{
	background:#fff !important;
	color:#ff9c00;
}
a:hover{
	color:#ff9c00;
}
.btn-white{
	background:#fff !important;
	color:#ff9c00 !important;
}
.btn-1{
	border-bottom-color:#ff9c00;
}
.btn-1.btn-2{
	border-top-color:#ff9c00;
}
.btn-white:hover{
	background:#ff9c00 !important;
	color:#fff !important;
}
.testi span, header .social_icons a:hover, .progress-bars .caret-down:before, .story .tabs li.active a, .story .tabs li a:hover, .we-offer li .icon, .feature-list-check li:before{
	color:#ff9c00 !important;
}
.btn-1{
	color:#ff9c00 ;
}

.portfolio .port-hover, .our-team .team-hover {
	background: rgba(255,156,0,0.8);
}
